<div class="row"> 
  <form name="form">

    <div class="col-lg-9">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Url..."  name="url" required ng-model="main.url">
        <span class="input-group-btn">
          <button class="btn btn-default" ng-disabled="main.isProcessing" ng-click="main.onClick()" type="button">Go!</button>
        </span>
        
      </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  <div class="col-lg-3"><label class="checkbox-inline"><input type="checkbox" ng-click="main.includeThirdParty = !main.includeThirdParty" name="optUsability">Include Third Party</label></div>

  </form>

</div>
<br/>
<div class="row" role="alert" ng-show="form.$submitted && form.url.$error.required">
        <span class="error">
         Required!</span>
      </div>    
      <div class="row progress" ng-show="main.isProcessing">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
          <span class="sr-only">45% Complete</span>
        </div>
      </div>

<div class="row">
    <div class="col-lg-12"><button class="glyphicon glyphicon-collapse-down" ng-click="main.showHistory()">History</button></div>
    <!-- <div class="col-lg-12">
      <ul>
        <li ng-repeat="item in main.searchHistory" ng-bind-html="item.url">
        </li>
      </ul>
    </div> -->

    <!-- Table -->
      <table class="table" ng-show="main.historyVisible">
        <thead>
          <tr>
            <th>URL</th>
            <th>DateTime</th>
            <th>Score</th>
            <th>3rd Party?</th>
            <th></th>
          </tr>
        </thead>
        <tr ng-repeat="item in main.searchHistory" >
          <td ng-bind-html="item.url"></td>
          <td>{{item.time | date:'medium'}}</td>
          <td ng-bind-html="item.result.ruleGroups.SPEED.score"></td>
          <td ng-bind-html="item.isThirdPartyInclude"></td>
          <td><button  ng-click="main.showThisResult(item.result)">Show</button></td>
        </tr>
      </table>
</div>

<div class="row">
    <div class="panel panel-primary" ng-show="main.onSuccess">
      <!-- Default panel contents -->
      <div class="panel-heading">Pagespeed Insight summary</div>
        <div class="panel-body">

          <div class="col-md-4">Speed Score: <label ng-bind-html="main.speed.score"></label></div>
          <div class="col-md-4">Usability Score: <label ng-bind-html="main.usability.score"></label></div>
          <div class="col-md-4"><label class="checkbox-inline"><input type="checkbox" ng-click="main.group = 'USABILITY'" name="optUsability">Usability</label>
          <label class="checkbox-inline"><input type="checkbox" name="optSpeed" ng-click="main.group = 'SPEED'">Speed</label></div>
          <!-- <div class="col-md-3">Include Third party: <label class="checkbox-inline"><input type="checkbox" ng-click="main.includeThirdParty = !main.includeThirdParty" name="optUsability">Third Party</label></div> -->
        </div>

      <!-- Table -->
      <table class="table">
        <thead>
          <tr>
            <th>Rule</th>
            <th>Group</th>
            <th>Impact</th>
            <th>Description</th>
          </tr>
        </thead>
        <tr ng-repeat="result in main.formattedResults | orderBy:'localizedRuleName':true">
          <td ng-bind-html="result.localizedRuleName"></td>
          <td ng-bind-html="result.groups[0]"></td>
          <td ng-bind-html="result.ruleImpact"></td>
          <td>
            <!-- <ul>
              <li ng-repeat="arg in result.summary.args"><span ng-bind-html="result.summary.format.replace(arg.key,arg.value)"></span></li>
            </ul> -->
          </td>
        </tr>
      </table>
    </div>

    <div class="alert alert-danger" role="alert"  ng-show="main.onError">Oops something went wrong!! Retry!</div>

</div>
